.header {
    height: var(--header-height);
    background-image: linear-gradient(0, rgb(240, 152, 189), rgb(238, 107, 153));
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
}


.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-items: center;
    z-index: 6;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name {
    margin-left: 6px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 4px);
    right: 0;
    width: 160px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header__navbar-user-menu:before {
    content: "";
    border-width: 15px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -25px;
}

.header__navbar-user-menu:after {
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    top: -8px;
    width: 56%;
    height: 8px;
}

/* .header__navbar-user-item {

} */

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 16px;
    display: block;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #a6cddb;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;

}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Authen modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;

}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}


.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__control-back {
    margin-right: 8px;
    background-color: transparent;
}

.auth-form__socials {
    width: 450px;
    display: flex;
    padding: 16px 0px;
    margin-top: 22px;
    justify-content: space-between;
    overflow: hidden;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3a5a98;
}


.auth-form__socials--facebook,
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 26px;
    white-space: nowrap;
}

.auth-form__socials--google {
    color: #666;
    background-color: #f3efef;
    margin-right: 14px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: 1px 16px 0;
    border-left: 1px solid #eaeaea;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* Header width search */
.header-width-search {
    height: var(--header-width-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 300px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
}

.header__logo-img {
    width: 250px;
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    z-index: 5;
}

/* Cart layout */
.header__cart {
    width: 150px;
    text-align: center;
    z-index: 4;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 8px);
    right: 1px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn linear 0.1s;
    cursor: default;

}


.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 3px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

/* no cart */
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-no-cart-img {
    width: 54%;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart-notice {
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid rgb(243, 134, 179);
    color: var(--primary-color);
    background-color: var(--white-color);
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 4px;
}

/* has cart */
.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;

}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;

}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-item-remove:hover {
    cursor: pointer;
    color: var(--primary-color);

}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

/* Search */
.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid #ebebeb;
    padding-left: 16px;
    position: relative;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.1rem;
    color: #585858;
    margin: 0 16px 0 8px;
    position: relative;
    top: -1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: rgb(240, 152, 189);
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    width: 150px;
    list-style: none;
}

.header__search-option-item {
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px 8px;
    text-align: right;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 0 4px 0 12px;
}

.header__search-input:focus~.header__search-history {
    display: block;
}

/* Search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #c9c8c8;
    display: none;
    overflow: hidden;
}

.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #c4c3c3;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* navbar2 */
.header__navbar2 {
    display: flex;
    justify-content: space-between;
    position: relative;
    text-decoration: none;
    background-color: rgb(243, 241, 241);
    justify-content: center;
    padding: 16px 0;
}

.header__navbar2-list {
    list-style: none;
    padding-left: 0;
    margin: 3.3px 0 0 0;
    display: flex;
    list-style: none;
}

.header_navbar2-item {
    margin: 0;
    position: relative;
    min-height: 26px;
    padding-top: 0;
    display: block;
    list-style: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}


.header_navbar2-item-link {
    text-decoration: none;
    color: rgb(247, 98, 190);
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: 0;
    padding: 0 16px;
    display: block;
}

.header_navbar2-item-link:hover {
    color: rgb(143, 17, 67);
    /* Thay đổi màu chữ khi hover */
}

/* .header__navbar2-menu {
    margin-top: 0;
    padding-right: 100px;
} */

.header_navbar2-item a {
    display: flex;
    justify-items: center;
}

.header__navbar2-home-icon {
    margin-top: 3px;
}

/* Menu */
.dropdown {
    position: relative;
    display: inline-block;

}

.header__navbar2-menu-btn {
    border: none;
}

.header_navbar2-item-menu-icon {
    padding: 0px 16px;
}

ul.dropdown-menu {
    padding: 0;
}

.dropdown-menu {
    padding: 0 32px;
    width: 200px;
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    flex-wrap: wrap;
}

.dropdown-item {
    float: left;
    overflow: hidden;
    position: relative;
}

a.dropdown-item {
    padding: 4px 32px;
    font-size: 1.4rem;
}


.dropdown-content {
    display: none;
    /* Ẩn ban đầu */
    position: absolute;
    /* Đặt vị trí tuyệt đối */
    top: 100%;
    /* Hiển thị từ vị trí dưới cùng của .dropdown-item */
    left: 0;
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
}

/* .dropdown-item:hover .dropdown-content {
    display: block; 
} */
.itemChaDeHover {
    position: relative;
}

.itemChaDeHover a {

    text-decoration: none;
    color: var(--text-color);


}

.itemChaDeHover h5 {
    font-size: 1.6rem;
}

.itemChaDeHover:hover .itemHover {
    display: block;
    position: absolute;
    right: -700px;
    width: 700px;
    font-size: 1.4rem;
}

.itemHover {
    display: none;
}



.dropdown-content-row {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

.dropdown-content-row:hover .dropdown-content-column {
    flex: 1;
    /* Thêm thuộc tính flex: 1 vào .dropdown-content-column khi hover vào .dropdown-content-row */
    padding: 10px;
    /* Cập nhật padding ở đây nếu cần thiết */
}

.dropdown-content-column {
    flex: 1;
    padding: 10px;
    min-width: 0;
}

.dropdown-content-column a {
    display: block;
    color: black;
    text-decoration: none;
    margin-bottom: 5px;
    white-space: nowrap;
}

.dropdown-content-column h5 {
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-weight: bold;
}

/* .dropdown-content-column a:hover {
    background-color: #ddd;
} */



/* Container */

/* Footer */
.footer{
    background-image: url('assets/img/logo-main.png');
}